* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container h1 {
  text-align: center;
  color: white;
}

.login {
  width: 400px;
  background-color: azure;
  height: auto;
  padding: 10px 5px;
  border-radius: 5px;
}

.login p {
  width: 100%;
  font-size: 20px;
}

.login input {
  display: inline-block;
  width: 100%;
  padding: 5px 2px;
  outline: none;
  margin: 10px auto;
  border: 0;
  background-color: bisque;
}

.login button {
  padding: 10px 25px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(227, 247, 240);
}

.nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(3, 3, 91);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 300px;
  background-color: rgb(234, 115, 115);
  color: white;
  padding: 3px;
  border-radius: 5px;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card button {
  display: inline-block;
  width: 100%;
  background-color: rgb(119, 37, 7);
  color: white;
  border: 0;
  outline: none;
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  padding-block: 5px;
  border-radius: 7px;
  cursor: pointer;
}
.search-Container {
  margin-block: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-Container input {
  width: 400px;
  max-width: 100%;
  padding-block: 10px;
  padding-inline: 4px;
  outline: none;
  border-radius: 20px;
  border: 0;
  background-color: rgb(166, 235, 212);
}
.search-Container button {
  border-radius: 20px;
  background-color: #ffffff;
  padding-inline: 10px;
  cursor: pointer;
}

.cart {
  position: relative;
}
.cart-price {
  position: absolute;
  font-size: 13px;
  top: 30px;
  right: 50px;
  background-color: rgb(81, 9, 9);
  color: white;
  padding-inline: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.price-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  font-size: 1.2rem;
  color: rgb(3, 3, 91);
  cursor: pointer;
}
